:root {
  --color-box-shadow: rgba(0, 0, 0, 0.08);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 500;
  color: #343a40;
  line-height: 1;
}

.app {
  margin: 2rem auto;
  width: 50rem;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.5rem;
}

.intro {
  width: 50rem;
  max-width: 100%;
  box-shadow: 0 0 2.4rem var(--color-box-shadow);
  padding: 2rem;
  border-radius: 7px;
}
